@import "../game/variables.scss";

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.container {
  min-height: 100vh; // Đảm bảo chiều cao của container là full màn hình
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover; // Đảm bảo ảnh nền bao phủ toàn bộ màn hình
  background-position: center; // Đặt ảnh nền ở giữa
  background-repeat: no-repeat; // Không lặp lại ảnh nền;
  background-color: $dark-background; // Sử dụng màu nền tối
}

.game-title {
  font-size: 48px;
  font-weight: bold;
  color: $primary-color;
  text-shadow: 0 0 10px $primary-color;
  margin-bottom: 20px;
}
