/* Import phông chữ từ Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif; /* Thay thế bằng phông chữ bạn muốn */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto Mono", monospace; /* Bạn cũng có thể chọn phông chữ khác cho code */
}
